.container {
  color: rgb(20, 17, 48);
}

.header-btn {
  border-color: hsl(321, 100%, 78%);
  background-color: white;
  color: hsl(321, 100%, 78%);
}

.top-page-title {
  font-weight: 700;
}
.top-page-info {
  font-weight: 400;
}
.top-page-btn {
  background-color: hsl(322, 100%, 66%);
}

.community-info {
  color: rgb(174, 182, 187);
}

.info-container {
  background-image: url(/images/bg-section-top-desktop-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.info-1-title {
  font-weight: 700;
}
