.container {
  color: hsl(192, 100%, 9%);
}

.header-btn {
  border-color: hsl(321, 100%, 78%);
  background-color: white;
  color: hsl(321, 100%, 78%);
}

.top-page-title {
  font-weight: 700;
}
.top-page-info {
  font-weight: 400;
}
.top-page-btn {
  background-color: hsl(322, 100%, 66%);
}

.community-info {
  color: rgb(174, 182, 187);
}

.info-title {
  font-weight: 700;
}

.info-1-container {
  background-image: url(/images/Grow-together-background.png);
  background-repeat: no-repeat;
  background-size: 100rem 35rem;
  padding: 8rem 0rem 8rem 3rem;
}

.info-3-container {
  background-image: url(/images/Users-background.png);
  background-repeat: no-repeat;
  background-size: 100rem 35rem;
  padding: 3rem 0rem 8rem 3rem;
}

.final-message {
  margin-bottom: 7rem;
}

.final-message-btn {
  background-color: hsl(322, 100%, 66%);
  padding-left: 6rem;
  padding-right: 6rem;
}

.bottom-info {
  background-image: url(/images/Bottom-background.png);
  color: hsl(0, 0%, 100%);
  padding-top: 7rem;
}

.bottom-btn {
  background-color: hsl(322, 100%, 66%);
}

.social-media-icon {
  width: 2rem;
}
